{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Current Price</th>
                    <th>Shares</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <h3>Your Portfolio</h3>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{stock.symbol}}</td>
                        <td>{{stock.price | usd }}</td>
                        <td>{{stock.shares}}</td>
                        <td>{{stock.total | usd }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">CASH</td>
                        <td>{{balance | usd }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{sum | usd }}</td>
                    </tr>
            </tbody>

        </table>
    </div>


{% endblock %}
